* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.error {
  display: none;
}

.wrapper {
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.weather {
  text-align: center;
  margin-top: 40px;
}

.search-control > input,
.search-control > button {
    background-color: #e4f0f5;
    color: #29627e;
    font-size: 1.2rem;
    padding: 10px;
}

.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin-left: 10px;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.active {
  display: block;
}

button {
  display: inline-flex;
  padding: 10px;
}

.weatherFive {
  display: grid;
  grid-template-areas:
  'header header header header header';
  margin-top: 40px;
  grid-gap: 30px;
}

.header {
  grid-area: header;
}

.time {
  display: block;
}